In [1]:
import pandas as pd

In [2]:

rutabd1 = 'MÉTRICAS_AREAVOLCURVEESPESORUGOSI_BIOMARCCADORES_SUIZA.xlsx'  #archivo1
rutabd2 = 'HIPOCAMPO_AMIGDALA_ASEG_BIOMARCADORES_SUIZA.xlsx' #archivo2
bd1 = pd.read_excel(rutabd1, sheet_name=0) #extraigo solo la primera hoja en ambos
bd2 = pd.read_excel(rutabd2, sheet_name=0)

In [29]:
bd1

,lh.aparc.area,lh_caudalanteriorcingulate_area,lh_entorhinal_area,lh_isthmuscingulate_area,lh_medialorbitofrontal_area,lh_middletemporal_area,lh_parahippocampal_area,lh_posteriorcingulate_area,lh_rostralanteriorcingulate_area,BrainSegVolNotVent
0,CTR_001/,895,344,1137,1879,3080,616,989,942,1097191
1,CTR_006/,605,365,810,1444,2689,612,997,730,909285
2,CTR_008/,495,445,925,1622,2509,511,1127,571,1015293
3,CTR_009/,365,330,949,1738,2765,593,1032,763,1024225
4,CTR_010/,333,331,737,1455,2227,522,795,453,827608
...,...,...,...,...,...,...,...,...,...,...
90,S_047,696,340,1097,1919,3133,478,1243,691,1000187
91,S_048,490,329,1105,1673,2483,554,1082,886,841443
92,S_049,463,327,780,1669,2491,568,987,528,842354
93,S_050,612,352,798,1778,2661,514,962,848,965636
94,S_052,550,382,1096,1860,3222,723,1199,646,1049080

In [33]:
bd1['lh.aparc.area'].str.extract(r'^([A-Z]+)')[0]

0     CTR
1     CTR
2     CTR
3     CTR
4     CTR
     ...
90      S
91      S
92      S
93      S
94      S
Name: 0, Length: 95, dtype: object

In [18]:
def contador_tipo(bd2,nombre_columna):
    identificadores = bd2[nombre_columna] #se extrae la columna de interes 
    prefijos = identificadores.str.extract(r'^([A-Z]+)')[0] #el .str accede a las funciones de cadena, lueego .extract saca los prefijos
    conteo = prefijos.value_counts().reset_index()#ya aqui se cuentan los prefijos 
    conteo.columns = ['Tipo', 'Cantidad'] #hacemos una tablita sencilla
    return conteo

PARA LA BD2

In [26]:
tablita=contador_tipo(bd2,'Measure:volume')
total_pacientes = tablita['Cantidad'].sum()
print("total pacientes: "+str(total_pacientes))
tablita

total pacientes: 96

  Tipo  Cantidad
0  SAN        28
1    S        28
2  CTR        18
3  DCL        10
4   GK         7
5  DTA         3
6   GW         1
7   SO         1

PARA LA BD1

In [34]:
tablita2=contador_tipo(bd1,'lh.aparc.area')
total_pacientes1 = tablita2['Cantidad'].sum()
print("total pacientes: "+str(total_pacientes1))
tablita2

total pacientes: 95

  Tipo  Cantidad
0    S        28
1  CTR        18
2   GK        16
3   GW        13
4  DCL         9
5  SAN         7
6  DTA         3
7   SO         1